[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/YevheniiOnishchenkoLemberg
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/YevheniiOnishchenkoLemberg
	label-Verified = -1..+1 group user/YevheniiOnishchenkoLemberg
	push = group user/YevheniiOnishchenkoLemberg
	read = group user/YevheniiOnishchenkoLemberg
	rebase = group user/YevheniiOnishchenkoLemberg
	removeReviewer = group user/YevheniiOnishchenkoLemberg
	submit = group user/YevheniiOnishchenkoLemberg
[access "refs/heads/*"]
	create = group user/YevheniiOnishchenkoLemberg
	push = +force group user/YevheniiOnishchenkoLemberg
	pushMerge = group user/YevheniiOnishchenkoLemberg
	read = group user/YevheniiOnishchenkoLemberg
[access "refs/tags/*"]
	push = group user/YevheniiOnishchenkoLemberg
	push = +force group user/YevheniiOnishchenkoLemberg
